<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SourceBackup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <SourceBackup.Properties.Settings>
      <setting name="NewVersion" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AppendDate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MainFormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="MainFormSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="ShowIgnoredFiles" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastRoot" serializeAs="String">
        <value />
      </setting>
      <setting name="LastRun" serializeAs="String">
        <value />
      </setting>
      <setting name="LastBackupFilterName" serializeAs="String">
        <value />
      </setting>
      <setting name="LastAfterwardsAction" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IgnoreBinObjDirs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultFilters" serializeAs="String">
        <value>*.AddIn;*.asmx;*.asp;*.aspx;*.axd;*.baml;*.bat;*.bmp;*.btp;*.btproj;*.btproj.user;*.cd;*.chm;*.cmd;*.config;*.cpp;*.cs;*.csproj;*.csproj.user;*.css;*.csv;*.cur;*.dbml;*.dbml.layout;*.dbp;*.disco;*.FileFilter;*.gif;*.h;*.hhc;*.hhk;*.hhp;*.htm;*.html;*.HxF;*.HxK;*.ico;*.jpg;*.js;*.ldd;*.map;*.mdb;*.mht;*.odx;*.pdf;*.pfx;*.png;*.resx;*.rtf;*.ruleset;~*.scc;*.sdf;*.settings;*.sfx;*.sln;*.snk;*.sql;*.suo;*.testrunconfig;*.txt;*.vb;*.vbproj;*.vbproj.user;*.vcproj;*.vdproj;*.vsdisco;*.vsmdi;*.webinfo;*.wsdl;*.xaml;*.xls;*.xml;*.xsc;*.xsd;*.xsl;*.xslt;*.xss;~*.dll;~*.exe;~*.msi;~*.tmp;~*.vspscc;~*.vssscc;~*.zip;~Thumbs.db;app.manifest;Settings.settings</value>
      </setting>
    </SourceBackup.Properties.Settings>
  </userSettings>
</configuration>